.root {
  padding: 10px;
}

.filterLine {
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .filterLine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.filterLine h2 {
  margin-right: 10px;
}

.filterLine button {
  margin: 0 5px;
  padding: 5px 10px;
  background: gray;
  border: 1px solid #ccc;
  cursor: pointer;
}

.filterLine button.selected {
  background: #007bff;
  color: white;
  border-color: #007bff;
}
